.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ecf0f5;
}

.app-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 20%;
  flex: 0 0 20%;
  background-color: #333; 
  color: white;
  transition: width 0.3s ease; 
}

.content {
  flex: 1;
  overflow: hidden;
  margin-top:5%;
  background-color: #ecf0f5;
}

.content-open {
  margin-left: 18%;
  background-color: #ecf0f5;

}

.content-closed {
  margin-left: 4%;
  background-color: #ecf0f5;
}

.footer-open{
  margin-left: 17%;
}

footer{
	background: white;
} 
.footer-container{
	display:flex;
	flex-wrap: wrap;
  justify-content: space-between;
  padding:20px;
}   
.foot-right{
  display:flex;
	flex-wrap: wrap;
}

.foot-right div{
  margin-left:10px;
}